@{
    ViewBag.Title = "Go Lambda Ltd";
}

<div class="section section-top">
    <h1>Another section</h1>
    
    <div class="col-lg-offset-3 col-lg-6">
        <h3>Landjaeger sausage picanha ham hock filet mignon short loin boudin capicola biltong. Brisket meatloaf short loin, rump beef strip steak biltong. Turducken tail kevin, hamburger filet mignon tenderloin picanha spare ribs shank pancetta shankle pork belly porchetta beef. T-bone kevin ribeye venison short loin spare ribs ball tip alcatra pork chop pork. Venison ground round ham chicken pig alcatra. Doner shoulder kielbasa cupim, landjaeger boudin pancetta. Beef ribs sausage picanha short loin turkey porchetta t-bone beef ham hock tongue pancetta shoulder.</h3>
    </div>

    </div>

<div class="section section-blue">
    <h1>This is a title</h1>
    <br/>
    <div class="col-md-4">
        <p>This is some more content</p>
    </div>
    <div class="col-md-4">
        <img style="width: 700px;" src="~/Content/Screenshot2.png" />
    </div>
</div>

<div class="section section-gray">
    <h1>Another section</h1>

    <div class="inner-panel">
        <img  src="~/Content/Screenshot.png" />
    </div>
</div>

<div class="section section-blue">
    <h1>Yet Another Section</h1>
    <img style="width: 700px;" src="~/Content/Screenshot3.png" />
</div>
<div class="section section-gray">
    <h1>Another section</h1>

    <div class="inner-panel">
        <img src="~/Content/Screenshot.png" />
    </div>
</div>

<div class="section section-blue">
    <h1>This is a title</h1>
    <br />
    <div class="col-md-4">
        <p>This is some more content</p>
    </div>
    <div class="col-md-4">
        <img style="width: 700px;" src="~/Content/Screenshot2.png" />
    </div>
</div>

<div class="section section-gray">
    <h1>Another section</h1>

    <div class="inner-panel">
        <img src="~/Content/Screenshot.png" />
    </div>
</div>

<div class="section section-blue">
    <h1>Yet Another Section</h1>
    <img style="width: 700px;" src="~/Content/Screenshot3.png" />
</div>